---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Section from '../../components/Section.astro';
import PostList from '../../components/PostList.astro';
---
<BaseLayout>
    <Section title="All Blog Posts">
      <PostList />
    </Section>
</BaseLayout>
