@tailwind base;
@tailwind components;
@tailwind utilities;

code[class*='language-'],
pre[class*='language-'] {
  /* Overrides default set in imported PrismJS theme */
  font-size: 0.9rem !important;
}

:root {
  /* Taken from Tailwind colour palette */
  --zinc-50: #fafafa;
  --zinc-800: #27272a;
  --zinc-600: #52525b;
  --zinc-500: #71717a;
  --zinc-200: #e4e4e7;
  --emerald-500: #10b981;
  --emerald-700: #047857;
  --red-400: #f87171;
  --slate-900: #111827;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #6b7280;
  --slate-600: #475569;
  --cyan-700: #0e7490;
  --cyan-500: #06b6d4;
  --orange-600: #ea580c;

  --th-background: var(--zinc-50);
  --th-primary: var(--zinc-800);
  --th-secondary: var(--zinc-600);
  --th-tertiary: var(--zinc-500);
  --th-subtle: var(--zinc-200);
  --th-action: var(--emerald-500);
  --th-action-focus: var(--emerald-700);
  --th-error: var(--red-400);

  /* used in dark theme article */
  --th-wrong-media: var(--slate-300); /* slate-400 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --th-background: var(--slate-900);
    --th-primary: var(--slate-300);
    --th-secondary: var(--slate-400);
    --th-tertiary: var(--slate-500);
    --th-subtle: var(--slate-600);
    --th-action: var(--cyan-700);
    --th-action-focus: var(--cyan-500);
    --th-error: var(--orange-600);

    /* used in dark theme article */
    --th-wrong-media: var(--zinc-800);
  }
}

@media print {
  :root {
    font-size: 13px;
  }

  @page {
    margin: 2cm 1.5cm;
  }
}

body {
  @apply bg-th-background;
}

p,
ul,
ol {
  @apply text-th-secondary;
}

a {
  @apply text-th-primary decoration-1 hover:underline;
}

a[href*='http']::after,
a[href*='mailto']::after {
  @apply inline-block filter brightness-75 print:hidden pl-1 font-light;
  content: '↗';
  font-size: 0.7em;
}

a[href*='http'].no-arrow::after,
a[href*='mailto'].no-arrow::after {
  content: '';
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-th-primary;
}

h6 {
  @apply text-th-secondary;
}
