---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout header="minimal">
  <h1 class="text-xl font-bold">404 Not Found</h1>
  <div class="pt-2">
    <p class="py-1">You just hit a route that doesn't exist.</p>
  </div>
</BaseLayout>
