---
import DotPattern from '../components/DotPattern.astro'
---

<div class="relative h-full">
  <div class="p-8 relative max-w-screen-xl xs:p-24 print:xs:p-0">
    <div class="h-full w-full">
      <h1 class="text-lg font-bold">404 Not Found</h1>
      <div class="pt-2">
        <p class="py-1">You just hit a route that doesn't exist.</p>
        <p class="py-1">
          <a class="underline" href="/">Back to safety</a>
        </p>
      </div>
    </div>
  </div>
</div>
