---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Section from '../components/Section.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
<!-- 			<Section title="About Me"> -->
<!--               <div class="mb-6"> -->
<!--                 <p> -->
<!--                   Hello, I am a software engineer from London, UK. This website is a sandbox for my thoughts, -->
<!--                   ideas and experiments. -->
<!--                 </p> -->
<!--               </div> -->
<!--             </Section> -->
<!--             <Section title="Latest Posts"> -->
<!--               TODO -->
<!--             </Section> -->
		</main>
		<Footer />
	</body>
</html>
