---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostList from '../components/PostList.astro';
import Section from '../components/Section.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return { props: posts };
}
const posts = Astro.props;
---

<BaseLayout>
  <Section title="About Me">
    <div class="mb-6">
      <p>
        Hello, I am a software engineer from London, UK. This website is a
        sandbox for my thoughts, ideas and experiments.
      </p>
    </div>
  </Section>
  <Section title="Latest Posts">
    <PostList limit={4} />
  </Section>
</BaseLayout>
