---
  import { pages } from '../components/pages';

  const getLinkStyle = (route) =>
    `inline-block py-2 text-xs !no-underline ${
      route === Astro.url.pathname
        ? 'font-bold text-th-primary'
        : 'text-th-secondary hover:text-th-primary'
    }`;
---

<div class="print-hidden">
  <ul class="mb-3 uppercase tracking-wider">
    {pages.map(({route, name}) =>
      <li class="inline list-none pr-4">
        <a class={getLinkStyle(route)} href={route}>
          {name}
        </a>
      </li>
    )}
  </ul>
</div>
