---
import DotPattern from '../components/DotPattern.astro';
import BaseHead from '../components/BaseHead.astro';
import FullHeader from '../components/FullHeader.astro';
import MinimalHeader from '../components/MinimalHeader.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { header = 'full' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <slot name="head" />
  </head>
  <body>
    <div class="relative h-full">
      <DotPattern />
      <div class="p-8 relative max-w-screen-xl xs:p-24 print:xs:p-0">
        {header === 'full' ? <FullHeader /> : <MinimalHeader />}
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
